<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Canvas LMS Admin Dashboard - WIP </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
    <link rel="stylesheet" href="css/style.css">
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js'></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.0/vuex.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.2/vue-router.min.js'></script>
</head>

<body>
    <!-- Component: product -->
    <template id="product">
    <div class="product"> 
      <div class="product-image">
        <img :src="`http://www.patrickhurley.co.uk/assets/img/${img}.png`" alt="" />
      </div>
      <div class="product-info">
        <h3>
          <router-link :to="{ name: 'product-detail', params: { product: slashedName } }">{{ name }}</router-link>
        </h3>
        <p>{{ formatPrice }}</p>
        <blockquote v-show="itemCount(itemIndex) > 0">{{ itemCount(itemIndex) + ' in cart' }}</blockquote>
        <button class="btn" @click="addToCart(product)">Add to Cart</button>
      </div>
  </template>
    <!-- /product -->
    <!-- Component: department -->
    <template id="department">
    <div class="content">
      <section v-if="errored">
        <p>Hmmm. Something has gone wrong.</p>
      </section>
      <section v-if="!errored">
        <p v-show="loading">Loading... <i class="fas fa-spinner fa-spin"></i></p>
        <Product v-for="(product, index) in filteredProducts" :key="index" v-bind="product" />
      </section>
    </div>
  </template>
    <!-- /department -->
    <!-- Component: product-detail -->
    <template id="product-detail">
    <div v-if="product" class="product-detail">
      <h2>{{ product.name }}</h2>
      <img :src="`http://www.patrickhurley.co.uk/assets/img/${product.img}.png`" alt="" />
      <p>{{ lorem }}</p>
      <router-link class="btn red lighten-1" 
        :to="{ name: 'department', params: { department: product.department.toLowerCase() }}"><i class="fas fa-arrow-left"></i> Back to {{ product.department }}</router-link>
      <button class="btn" @click="addToCart(productPayload)">Add to cart</button>
      <blockquote v-show="itemCount(itemIndex) > 0">{{ itemCount(itemIndex) + ' in cart' }}</blockquote>
    </div>
  </template>
    <!-- /product-detail -->
    <!-- App -->
    <v-app v-cloak id="app" class="outer">
        <v-navigation-drawer app="app" temporary="temporary" v-model="drawer" fixed="fixed">
            <v-list>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>supervisor_account</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-btn left="left" target="_blank">Contas</v-btn>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>supervisor_account</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content class="text-sm-left">
                        <a href="">Usuários</a>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>supervisor_account</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Cursos</v-list-tile-content>
                </v-list-tile>
                <hr>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon>supervisor_account</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>Configurações</v-list-tile-content>
                </v-list-tile>
                <hr>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar class="cyan darken-1" flat="flat" app="app">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn flat="flat" href="https://vuejs.org/v2/guide/installation.html" target="_blank">
                <v-icon left="left">code</v-icon>Vue
            </v-btn>
            <v-btn flat="flat" href="https://vuetifyjs.com/en/getting-started/quick-start" target="_blank">
                <v-icon left="left">dashboard</v-icon>Vuetify
            </v-btn>
            <v-btn flat="flat" href="https://material.io/icons/" target="_blank">
                <v-icon left="left">star</v-icon>Icons
            </v-btn>
        </v-toolbar>
        <div class="nav">
            <div class="logo">
                <img src="https://vuejs.org/images/logo.png" class="vue-logo-v" />
                <h1>
                    <router-link class="no-active" to="/">uemart</router-link>
                </h1>
            </div>
            <div class="shopping-status">
                <a @click="showModal = true">Cart: ({{ cartCount }})</a>
            </div>
        </div>

        <li v-for="course in courses" :src="course.course_code" :alt="course.account_id">{{ course.course_code }}</li>

        <section class="table full">
            <aside>
                <div class="menu">
                    <h2>Department</h2>
                    <div v-if="errored">
                        <p>Something went wrong</p>
                    </div>
                    <div v-if="!errored">
                        <p v-show="loading">Loading... <i class="fas fa-spinner fa-spin"></i></p>
                        <ul>
                            <li v-for="(department, index) in departments" :key="index">
                                <router-link :to="{ name: 'department', params: { department: department }}">{{ department }}
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <main>
                <transition name="medium-fade" @after-leave="afterLeave">
                    <router-view :key="$route.path"></router-view>
                </transition>
            </main>
        </section>
        <!-- modal -->
        <transition name="fast-fade">
            <div v-show="showModal" class="modal-backdrop">
                <div class="modalouter">
                    <div class="modal-cell">
                        <div class="modal-content">
                            <h2>Shopping Cart</h2>
                            <hr>
                            <div v-if="cartItems.length != 0">
                                <div class="cart-container">
                                    <div class="cart-product" v-for="(item, index) in cartItems" :key="index">
                                        <div>{{ item.name | capitalise }}</div>
                                        <div>{{ itemTotal(index) | currency }}</div>
                                        <div>
                                            <button @click="changeQuantity(index,false)">-</button>
                                            <input type="text" class="browser-default" :value="item.quantity" disabled>
                                            <button @click="changeQuantity(index,true)">+</button>
                                        </div>
                                        <div><i @click="removeAllItems(item, index)" :class="item.isDeleting ? 'fas fa-spinner fa-spin' : 'fas fa-trash-alt'"></i></div>
                                    </div>
                                </div>
                                <p class="shopping-cart_total">Total: {{ cartTotal | currency }}</p>
                            </div>
                            <div v-if="cartItems.length == 0">
                                <p>Your shopping cart is empty</p>
                            </div>
                            <button class="btn close-modal" @click="showModal = false">Close cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!--modal-->
        <v-snackbar :timeout="0" color="cyan darken-2" v-model="snackbar">Vue 2.5.13 & Vuetify 1.0.3
            <v-btn flat="flat" @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-app>
    <script src="js/index.js"></script>
</body>

</html>